/* CSS Document */
/* Colors and Fonts:

Tan: #e2cdb1
Green: #93a880
Blue: #0477bf
Black: #000000
White: #ffffff

font-family: 'Lobster', cursive;
font-family: 'Merriweather', serif;
font-family: 'Ubuntu', sans-serif; */

* {
	margin: 0;
	padding: 0;
	border: 0;
}

/* --- Header --- */

header {
	background-color: #e2cdb1;
	text-align: center;
}

header h1 {
	font-family: 'Lobster', cursive;
	font-size: 2.5em;
	color: #0477bf;
	text-shadow: 2px 2px 2px #ffffff;
}

header h2 {
	font-family: 'Merriweather', serif;
	font-size: 2em;
	color: #0477bf;
	text-shadow: 2px 2px 2px #ffffff;
}

header img {
	width: 100%;
	height: 600px;
}

nav {
	background-color: #0477bf;
	text-align: center;
	padding: .75% 0;
}

nav li {
	display: inline;
	font-size: 1.75em;
	font-family: 'Ubuntu', sans-serif;
	text-align: center;
	padding: 2%;
}

nav li a {
	color: #ffffff;
	text-decoration: none;
}

nav li a:hover {
	color: #0477bf;
	background-color: #ffffff;
	text-decoration: underline;
}

/* --- Main --- */

main {
	min-height: 500px;
	background-color: #e2cdb1;
}

main img {
	float: right;
	height: 300px;
	padding: 1%;
}

main h1 {
	text-align: center;
	font-size: 3em;
}

main blockquote {
	font-size: 1.75em;
	padding: 1.5%;
}

fieldset {
	margin: 1%;
    display: block;
    border: 1px black solid;
}

label {
	display: block;
	font-size: 1.5em;
	padding: 1%;
}

input {
	margin: .75%;
	padding: .5%;
	display: block;
}

#submit {
	display: inline-block;
	justify-content: center;
	font-size: 1.25em;
	padding: .75%;
	border-radius: 8px;
}

#submit:hover {
	background-color: #000;
	color: #fff;
}

#reset {
	display: inline-block;
	justify-content: center;
	font-size: 1.25em;
	padding: .75%;
	border-radius: 8px;
}

#reset:hover {
	background-color: #000;
	color: #fff;
}

/* --- Footer --- */

footer {
	background-color: #93a880;
}

footer p {
	text-align: center;
	padding: .5%;
}